
/* Asign constants for the colors and fonts so they can be easily changed */
:root {
    --title-background:rgb(48, 48, 48);
    --title-color:rgb(107, 116, 23);
    --largest-font: 36px;
    --large-font: 28px;
    --medium-font: 18px;
    --small-font: 12px;
}

/****************************************************/
/* Style the HTML so it looks good at maximum width */
/****************************************************/

/************************/
/* Setup the header row */
/************************/
header {
    background-color: var(--title-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
}

.header-title {
    background-color: var(--title-color);
    color: var(--title-background);
    padding-left: 5%;
    padding-right: 1%;
    font-size: var(--largest-font);
    font-weight: bolder;
}

header nav {
    padding-right: 1%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: var(--title-color);
    font-size: var(--large-font);
}

header nav a:hover {
    color: var(--title-background);
    background-color: var(--title-color);
}

/***************************************************************/
/* Arrange the banner row, both my avatar and the banner image */
/***************************************************************/
.banner {
    background-color: var(--title-color);
    position:relative;
}

.banner-start {
    width: 20%;
    border-radius: 50%;
}

.banner-end {
    position: absolute;
    width: 80%;
}

.banner h1 {
    background-color: var(--title-background);
    color: var(--title-color);
    position: absolute;
    padding: 1% 5% 1% 1%;
    right: 0%;
    bottom: 5%;
    font-size: var(--large-font);
}

/******************************************/
/* Format the primary section information */
/******************************************/
section {
    display:flex;
    width: 100%;
    margin: 2%;
}

.section-title {
    width:20%;
    margin-top: 0px;
    color: var(--title-color);
    font-size: var(--large-font);
}

.section-details {
    font-size: var(--medium-font);
    width: 80%;
    padding-right: 5%;
}

.section-details p {
    line-height: 120%;
    margin-bottom: 1ch;
}

/**********************************************************************************/
/* Introduce specific formats that allow the work images to display appropriately */
/**********************************************************************************/
#work .section-details {
    display: inline-block;
    text-align: justify;
    text-align-last: center;
}


.project {
    display:inline-block;
    width: 49%;
    vertical-align: top;
    border: 2px solid var(--title-background);
}

.project img, .first-project, .first-project img {
    width:100%;
}

.project {
    margin: 10px 0px 30px 0px;
}

.project h1 {
    text-align: center;
    text-align-last: center;
    background: var(--title-color);
    color: var(--title-background);
    padding: 10px;
}

/*********************************/
/* Format the Contact-Me section */
/*********************************/

#contact-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#contact-me .section-details {
    display: flex;
    float: right;
    justify-content: space-around;
}

#contact-me div,
#contact-me a {
    align-items: center;
    color: var(--title-color);
    font-size: var(--medium-font);
}

#contact-me a:hover {
    background-color:var(--title-background);
    color: var(--title-color);
}

/*******************************************************************/
/* As the screen width shrinks, some of the above needs to change. */
/*******************************************************************/

/* Shrink the contact-me information to keep it from wrapping */
@media screen and (max-width:845px) {
    #contact-me div,
    #contact-me a {
        font-size: var(--small-font);
    }
}

/* Shrink text to prevent wrapping */
@media screen and (max-width:760px) {
    
    .header-title {
        font-size: var(--large-font);
    }
    
    .section-title, .project h1, header nav a, .banner h1 {
        font-size: var(--medium-font);
    }
}

/* Due to the much smaller width, change from a side by side display to everything being in a column */
@media screen and (max-width:540px) {

    header, section, #contact-me {
        display: block;
        text-align-last: center;
    }

    header nav {
        width: 100%;
    }

    .header-title {
        display: inline-block;
        padding-left: 5%;
        padding-right: 5%;
        margin: 2% 0% auto;
    }

    .section-title {
        width: 100%;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2%;
    }

    .section-details {
        padding-right: 0px;
    }

    .project, .section-details {
        width: 100%;
    }

    #contact-me .section-details {
        display: block;
    }

    #contact-me div,
    #contact-me a {
        font-size: var(--small-font);
    }
}